<h1>Title:</h1>
  
<p>what is the problem with this page </p>

<p>
  <b>Body:</b>
  <%=  textilize @post.body %>
 
</p>

<%= render :partial => "/comments/comments" %>

<%= link_to "comments (#{@post.comments.count})", post_comments_path (@post) %>


<% if logged_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'destroy', @post, :method => :delete, :confirm => " are you sure?" %>
<%end%>